@using Bookstore.Web.Models.Common.Modals
@{
    Layout = null;
}
<div class="modal fade" id="BooksImportModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg rounded-4">
            <!-- Modal Header -->
            @await Html.PartialAsync(
            "~/Views/Shared/Modals/_ModalHeader.cshtml",
                        new ModalHeaderViewModel(L("ImportBook"))
                        )

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="importForm" method="post" enctype="multipart/form-data" role="form" action="/Books/ImportExcel">
                    <div class="mb-4">
                        <label for="ExcelFile" class="form-label fw-bold">Select Excel File</label>
                        <input type="file" class="form-control form-control-lg" id="ExcelFile" name="ExcelFile" required>
                        <small class="text-muted">Only .xls or .xlsx files are supported.</small>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary" id="getFormatExcel">
                            <i class="bi bi-file-earmark-arrow-down me-2"></i> Get Excel Template
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-upload me-2"></i> Import
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

